<div class="flex flex-col">
  <div class="font-archivo">
    <%= link_to "sign In", new_user_session_path, class: "rounded-[20px] py-[12px] px-[32px] text-[16px] border-2" %>
  </div>

  <div class=" w-full md:p-16">
    <div class="mx-auto ml-8 mr-8 h-full max-w-6xl font-clash md:ml-16 md:mr-16 md:h-screen">
      <h1 class=" flex flex-wrap text-3xl font-semibold uppercase leading-none text-[#1E1E1E] md:flex-row md:items-center md:text-[90px] ">
        <span class="mr-4">Improving</span>
        <span class="inline-block">agriculture with AI and computer</span>
        <span>vision.</span>
      </h1>
    </div>
  </div>
</div>