<div class=" w-full md:p-16">
  <div class="mx-auto ml-8 mr-8 h-full max-w-6xl md:ml-16 md:mr-16 md:h-screen">
    <h1 class=" flex flex-wrap text-[120px] font-semibold font-clash uppercase">
      <span class="mr-4">Improving</span>
      <span class="mr-4">agriculture with AI and computer</span>
      <span>vision.</span>
    </h1>
  </div>
</div>
